<div class="dropback" (click)="onClose()"></div>
<div class="container">
  <div class="row">
    <div class="col">
      <!-- Title of add page -->
      <div class="title_pg">
        <p>Add landlord</p>
        <a (click)="onClose()">
          <img alt="closeIcon" src="assets/images/closeIcon.png" style="width: 25px;"/>
        </a>
      </div>
      <!-- End title add page -->

      <!-- Form add page -->
      <form
            (ngSubmit)="onSubmit(f)"
            #f = "ngForm">

        <div class="input_block">
          <div class="input-group">
            <span class="input-group-text" >First name</span>
            <input type="text"
                   class="form-control"
                   placeholder={{selectedClient.firstname}}
                   name="firstname"
                   ngModel
                   id="firstname"
                   pattern="[A-Za-z]{2,}"
                   maxlength="20"
                   required
                   >
          </div>

          <div class="input-group">
            <span class="input-group-text" >Last name</span>
            <input type="text"
                   class="form-control"
                   placeholder={{selectedClient.lastname}}
                   name="lastname"
                   ngModel
                   id="lastname"
                   pattern="[A-Za-z]{2,}"
                   maxlength="20"
                   required
                   >
          </div>

          <div class="input-group">
            <span class="input-group-text">Address</span>
            <input type="text"
                   class="form-control"
                   placeholder={{selectedClient.address}}
                   name="address"
                   ngModel
                   id="address"
                   pattern="[A-Za-z0-9\w!@#$%?=*&.- ]{2,}"
                   maxlength="50"
                   required
                   >
          </div>

          <div class="input-group">
            <span class="input-group-text">Postcode</span>
            <input type="text"
                   class="form-control"
                   placeholder={{selectedClient.postcode}}
                   name="postcode"
                   ngModel
                   id="postcode"
                   pattern="[A-Za-z0-9- ]{2,}"
                   maxlength="8"
                   required
                   >
          </div>

          <div class="input-group">
            <span class="input-group-text" >@</span>
            <input type="email"
                   class="form-control"
                   placeholder={{selectedClient.email}}
                   name="email"
                   ngModel
                   id="email"
                   pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"
                   >
          </div>

          <div class="input-group">
            <span class="input-group-text" >Phone</span>
            <input type="text"
                   class="form-control"
                   placeholder={{selectedClient.phone}}
                   name="phone"
                   ngModel
                   id="phone"
                   maxlength="11"
                   required
                   >
          </div>

          <div class="input-group">
            <span class="input-group-text">Upload</span>
            <input type="file"
                   class="form-control"
                   placeholder="Choose file"
                   name="upload"
                   ngModel
                   id="upload"
                   >
          </div>

          <div class="input-group">
            <span class="input-group-text" >Details</span>
            <textarea type="textarea"
                   class="form-control"
                   placeholder={{selectedClient.details}}
                   name="details"
                   ngModel
                   id="detals"
                   ></textarea>
          </div>

          <button
            type="submit"
            class="btn btn-outline-success"
            [disabled]="!f.valid"
            [ngStyle]="{'color':f.valid?'':'gray'}"
            >Update</button>
          <button
            type="button"
            class="btn btn-outline-danger"
            (click)="onClose()">Cancel</button>
        </div>
      </form>

      <!-- End form add page -->
    </div>
  </div>
</div>
