<div class="dropback" (click)="onClose()"></div>
<div class="container">
  <div class="row">
    <div class="col">
      <!-- Title of add page -->
      <div class="title_pg">
        <p>Sign in</p>
        <a (click)="onClose()">
          <img alt="closeIcon" src="assets/images/closeIcon.png" style="width: 25px;"/>
        </a>
      </div>
      <!-- End title add page -->
      <div class="panel-body">
        <form accept-charset="UTF-8"
              role="form"
              (ngSubmit)="onSubmit(form)"
              #form = "ngForm">

          <div class="form-floating">
            <input type="text"
                   class="form-control"
                   id="username"
                   name="username"
                   username
                   ngModel
                   pattern="[A-Za-z]{2,}"
                   maxlength="20"
                   placeholder="User name"
                   required
                   #username>
            <label for="fullname">User name</label>
            <div *ngIf="!username.value" class="required-warning"><p>*Required</p></div>
          </div>

          <div class="form-floating">
            <input type="text"
                   class="form-control"
                   id="phonenumber"
                   name="phonenumber"
                   phonenumber
                   ngModel
                   placeholder="Phone number"
                   id="phone"
                   maxlength="11"
                   required
                   #phonenumber>
            <label for="phonenumber">Phone number</label>
            <div *ngIf="!email.value" class="required-warning"><p>*Required</p></div>
          </div>

          <div class="form-floating">
            <input type="email"
                   class="form-control"
                   id="email"
                   name="email"
                   email
                   ngModel
                   placeholder="name@example.com"
                   pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"
                   required
                   #email>
            <label for="email">Email address</label>
            <div *ngIf="!email.value" class="required-warning"><p>*Required</p></div>
          </div>
          <div class="form-floating">
            <input type="password"
                   class="form-control"
                   id="password"
                   name="password"
                   password
                   ngModel
                   placeholder="Password"
                   required
                   #password>
            <label for="password">Password</label>
            <div *ngIf="!password.value" class="required-warning"><p>*Required</p></div>
          </div>
          <div class="form-floating">
            <input type="password"
                   class="form-control"
                   id="confirmPassword"
                   name="confirmPassword"
                   password
                   ngModel
                   placeholder="Confirm Password"
                   required
                   #confirmPassword>
            <label for="confirmPassword">Confirm Password</label>
            <div *ngIf="!confirmPassword.value" class="required-warning"><p>*Required</p></div>
            <div *ngIf="passwordNotMatch" class="required-warning">The password did not match.</div>
          </div>
          <div class="input-group">
            <span class="input-group-text">User Position</span>
            <select class="form-select"
                    aria-label="Default select example"
                    ngModel
                    required
                    id="userPosition"
                    name="userPosition"
                    displayName
                    #comboBoxList
                    >
            <option *ngFor="let i of displayName">{{i}}</option>
            </select>
            <div *ngIf="!comboBoxList.value" class="required-warning"><p>*Required</p></div>
          </div>



          <div class="btns">
            <button type="submit"
                  [disabled]="!form.valid"
                  [ngStyle]="{'color':form.valid?'':'gray'}"
                  class="btn btn-outline-success"
                  >Sign in new user</button>
          <button type="button"
                  class="btn btn-outline-danger"
                  (click)="onClose()">Close</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>






