<div class="dropback" (click)="onClose()"></div>
<div class="container">
  <div class="row">
    <div class="col">
      <!-- title of view page-->
      <div class="title_pg">
        <p>View Property</p>
        <a (click)="onClose()">
          <img alt="closeIcon" src="assets/images/closeIcon.png" style="width: 25px;"/>
        </a>
      </div>
      <!-- End title page -->

      <!-- View page content -->

      <div class="content_data">
        <div class="content_view">
          <div class="ContentDetails">
            <p >Property details</p>
          </div>
          <label class="input-group-text" >Owner: {{ClientDetails.owner | uppercase}}</label><br>
          <label class="input-group-text" >Address: {{ClientDetails.address}}</label><br>
          <label class="input-group-text" >City: {{ClientDetails.city}}</label><br>
          <label class="input-group-text" >Postcode: {{ClientDetails.postcode | uppercase}}</label>
          <hr>
          <div class="ContentDetails">
            <p >Financial details</p>
          </div>
          <label class="input-group-text" >Rent: £{{ClientDetails.rent}}</label><br>
          <label class="input-group-text" >Service Charge: £{{ClientDetails.charge}}</label>
          <hr>
          <div class="ContentDetails">
            <p >Detail</p>
          </div>
          <textarea  wrap="hard"
                     readonly>{{ClientDetails.detail}}</textarea><br>
        </div>
        <div class="content_map">
          <!--map-->
          <div class="col-6 col-sm-6" id="map" markers="markers" center="osloCenter">
          </div>
          <!--end map-->
        </div>
        <div>
          <!--Image-->
          <img id="image" alt="prooperty image" src={{ClientDetails.image}}>
          <!--End Image-->
        </div>
      </div>
      <!-- End view page content -->

      <!-- button -->
      <div class="button">
        <button
            type="button"
            class="btn btn-outline-danger"
            (click)="onClose()">Close</button>
      </div>
      <!-- End button -->

    </div>
  </div>
</div>
