/* ----------- back page ------*/
.dropback{
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  background-color: rgba( 0, 0, 0, 0.75);
  z-index: 50;
}
/* ----------- End back page ------*/

/* ---------- container -------*/

.container{
  position: fixed;
  top: 3vh;
  left: 15vw;
  width:fit-content;
  height:fit-content;
  padding: 0px;
  border-radius:10px;
  z-index: 100;
  background-color: white;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);

}
/*---------- End container -------*/

/*---------- Title ----------*/

.title_pg{
  height: 50px;
  width: 100%;
  background-color: green;
  border-radius: 10px 10px 0px 0px;
  color: white;
  padding: 10px;
  display: flex;
  justify-content:space-between;
}

.title_pg a img{
  cursor: pointer;
}
/* --------- End title ---------*/

/* --------- content -----------*/
.content_view{
  width: 100%;
  padding: 10px;
}
/* ---------- End content -----------*/


/*  ---------- button ------------*/
.button{
  width: 100%;
  margin: 10px ;
  text-align: center;
}

.button button{
  width: 80%;
}
/*  ---------- End button ------------*/
/* ------------ titles -------*/


.ContentDetails p{
  font-size: 11px;
  color: rgb(161, 161, 161);
}
/* ------------- End titles ---*/

/* ------------ textarea -------*/
textarea{
  width: 100%;

}
/* ------------ End textarea -------*/

/* ------------- content_1 ------------------*/
.content_data{
  display: flex;
}
/* ------------- End content_1 --------------*/
/*------------- Map test--------------*/

#map{
  border: .5px solid rgb(0, 181, 42);
  width: 25vw;
  height: 50vh;

}

#image{
  border: .5px solid rgb(0, 181, 42);
  width: 25vw;
  height: 50vh;

}
/*----------- End map test --------*/

/*--------responsive -------------------*/

@media only screen and (max-width:650px){
  .container{
    top: 10vh;
    left: 4vw;
    width: 90%;

  }

  .content_data{
    display: block;
  }

  .content_view{
    display: none;
  }

  #map{
    width: 100%;
  }


  #image{
    display: none;
  }

  .title_pg{
    font-size: 14px;
  }

  .content_view label{
    font-size: 13px;
  }

  .content_view{
    font-size: 13px;

  }

  .button button{
    font-size: 13px;
  }
}


