<div class="dropback" (click)="onClose()"></div>
<div class="container">
  <div class="row">
    <div class="col">
      <!-- Title of add page -->
      <div class="title_pg">
        <p>Edit property</p>
        <a (click)="onClose()">
          <img alt="closeIcon" src="assets/images/closeIcon.png" style="width: 25px;"/>
        </a>
      </div>
      <!-- End title add page -->

      <!-- Form add page -->
      <form
            (ngSubmit)="onSubmit(f)"
            #f = "ngForm">

        <div class="input_block">
          <div class="ContentDetails">
            <p >Property details</p>
          </div>

          <div class="ownerDiv">
            <div>
              <div class="input-group">
                <span class="input-group-text">Owner</span>
                <select class="comboBoxList"
                        required
                        name="owner"
                        id="owner"
                        ngModel
                        #comboBoxList
                >
                  <option>{{selectedClient.owner | uppercase}}</option>
                  <option *ngFor="let i of ownerList"
                          >{{i.firstname | uppercase}} {{i.lastname | uppercase}}
                  </option>
                </select>
                <div *ngIf="!comboBoxList.value" class="required-warning"><p>*Required</p></div>
              </div>
            </div>

            <div *ngIf="loading">
              <img alt="spinner loading" src="assets/images/Rolling.gif" style="width: 3vw; text-align: center;">
            </div>
          </div>

          <!-- Address-->

          <div class="input-group">
            <span class="input-group-text" >Address</span>
            <input type="text"
                   class="form-control"
                   placeholder={{selectedClient.address}}
                   name="address"
                   ngModel
                   id="address"
                   maxlength="20"
                   required
                   #address
                   >
              <div *ngIf="!address.value" class="required-warning"><p>*Required</p></div>
          </div>

          <!-- End Address-->

          <!-- City -->

          <div class="input-group">
            <span class="input-group-text" >City</span>
            <input type="text"
                   class="form-control"
                   placeholder={{selectedClient.city}}
                   name="city"
                   ngModel
                   id="city"
                   pattern="[A-Za-z]{2,}"
                   maxlength="20"
                   required
                   #city
                   >
              <div *ngIf="!city.value" class="required-warning"><p>*Required</p></div>
          </div>

          <!-- End City -->

          <!-- Postcode -->

          <div class="input-group">
            <span class="input-group-text" >Postcode</span>
            <input type="text"
                   class="form-control"
                   placeholder={{selectedClient.postcode}}
                   name="postcode"
                   ngModel
                   id="postcode"
                   maxlength="7"
                   required
                   #postcode
                   >
              <div *ngIf="!postcode.value" class="required-warning"><p>*Required</p></div>
          </div>
          <p *ngIf="postcodeNotExist" class="required-warning">This postcode is not exist!</p>

          <!-- End Postcode -->

          <!-- date input -->
          <div class="input-group">

            <span class="input-group-text">Date</span>
            <input type="date"
                   class="form-control"
                   placeholder={{selectedClient.date}}
                   name="date"
                   ngModel
                   id="date"
                   required
                   #date
                   >
              <div *ngIf="!postcode.value" class="required-warning"><p>*Required</p></div>
          </div>
          <!-- End date input -->

          <!--  ----------------------------porperty details --------------->
          <hr>
          <!--Title  -->
          <div class="ContentDetails">
            <p >Financial property details</p>
            <p >All details accourding to monthly baises</p>
          </div>
          <!--End title  -->

          <!--Rent input -->
          <div class="input-group mb-3">
            <span class="input-group-text">Rent £</span>
            <span class="input-group-text">0.00</span>
            <input type="number"
                   class="form-control"
                   placeholder={{selectedClient.rent}}
                   name="rent"
                   id="rent"
                   ngModel
                   required
                   aria-label="BPound amount (with dot and two decimal places)"
                   #rent
                   >
              <div *ngIf="!rent.value" class="required-warning"><p>*Required</p></div>
          </div>
          <!--End rent input -->

          <!-- Service charge input-->
          <div class="input-group mb-3">
            <span class="input-group-text">Basic service charge £</span>
            <span class="input-group-text">0.00</span>
            <input type="number"
                   class="form-control"
                   placeholder={{selectedClient.charge}}
                   name="serviceCharge"
                   id="serviceCharge"
                   ngModel
                   required
                   aria-label="BPound amount (with dot and two decimal places)"
                   #charge
                   >
              <div *ngIf="!charge.value" class="required-warning"><p>*Required</p></div>
          </div>
          <!-- End service charge input-->
          <hr>






            <!--------------------------- end property details ---------------------------->


          <div class="input-group">
            <span class="input-group-text">Upload</span>
            <input type="file"
                   class="form-control"
                   placeholder="Choose file"
                   name="upload"
                   ngModel
                   id="upload"
                   >
          </div>

          <div class="input-group">
            <span class="input-group-text" >Details</span>
            <textarea type="textarea"
                   class="form-control"
                   placeholder={{selectedClient.detail}}
                   name="details"
                   ngModel
                   id="detals"
                   #details
                   ></textarea>
          </div>






          <!--  ------------------------End porperty details --------------->


          <button
            type="submit"
            class="btn btn-outline-success"
            [disabled]="!f.valid"
            [ngStyle]="{'color':f.valid?'':'gray'}"
            >Update</button>
          <button
            type="button"
            class="btn btn-outline-danger"
            (click)="onClose()">Cancel</button>
        </div>
      </form>

      <!-- End form add page -->
    </div>
  </div>
</div>
