<div>
  <!-- Add page-->
  <app-add-tenant
    *ngIf="addingTenantAllowed"
    [closeForm]="addingTenantAllowed"
    (close)="onReloadPg()"
    ></app-add-tenant>
    <!--End add page -->

    <!-- View page -->
  <app-view-tenant
     *ngIf="viewTenantAllowed"
     [closeForm]="viewTenantAllowed"
     [selectedClient]="selectdClient"
     (close)="onReloadPg()"
  ></app-view-tenant>
  <!-- End view page-->

  <!-- Delete page -->
  <app-warning-msg
      *ngIf="deleteTenantAllowed"
      [closeForm]="deleteTenantAllowed"
      [selectedClient]="selectdClient"
      [dbName]="dbName"
      (close)="onReloadPg()"
  ></app-warning-msg>

  <!-- End delete page -->

  <!-- Edit page -->
  <app-edit-tenant
       *ngIf="editTenantAllowed"
       [closeForm]="editTenantAllowed"
      [selectedClient]="selectdClient"
      (close)="onReloadPg()"
  ></app-edit-tenant>
  <!-- End edit page -->

  <div class="container-sm">
    <div class="row">
      <!--content and add button-->
      <div class="col-6" id="card_add_content">
        <div id="pg_content">

            <div id="card">
              <div class="card">
                <div class="card-header">
                  Tenants
                </div>
                <div class="card-body">
                  <h5 class="card-title">Tenants Details</h5>
                  <p class="card-text">This page has data, operations and views about tenants.</p>
                </div>
              </div>
            </div>
            <button type="button"
                    class="btn btn-primary"
                    id="tenants_add_btn"
                    (click)="add_tenant()">Add New Tenants</button>

        </div>
      </div>

      <div class="col-12" id="c3">
        <!--search input-->
        <div class="input-group mb-3" id="searchInput">
          <button class="btn btn-outline-secondary"
                  type="button"
                  id="button-addon1">Search</button>
          <input type="text"
                 class="form-control"
                 placeholder="search ..."
                 aria-label="Example text with button addon"
                 aria-describedby="button-addon1"
                 [(ngModel)]="filterString"
                 >
        </div>
        <!--end search input-->

        <div *ngIf="loading">
          <img alt="spinner loading" src="assets/images/Rolling.gif" style="width: 4vw; text-align: center;">
        </div>

        <!--table-->
        <div id="table_scroll">
          <table class="table table-success table-striped" id="pg_table">
            <thead>
              <tr>
                <th scope="col">ID</th>
                <th scope="col">First name</th>
                <th scope="col">Last name</th>
                <th scope="col">Postcode</th>
                <th scope="col">Phone</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let i of tenantTableList | filter: filterString:'firstname':'lastname':'curpostcode':'phone'">
                <td scope="row">{{i.id}}</td>
                <td>{{i.firstname |uppercase}}</td>
                <td>{{i.lastname |uppercase}}</td>
                <td>{{i.curpostcode |uppercase}}</td>
                <td>{{i.phone}}</td>
                <td>
                  <button type="button"
                          class="btn btn-success"
                          id="view_btn"
                          (click)="on_view(i)"
                          >View</button>
                  <button type="button"
                          class="btn btn-danger"
                          id="delete_btn"
                          (click)="on_delete(i)"
                          >Delete</button>
                  <button type="button"
                          class="btn btn-warning"
                          id="edit_btn"
                          (click)="on_edit(i)"
                          >Edit</button>
                </td>
              </tr>

            </tbody>
          </table>
        </div>


        <!--end table-->
      </div>

    </div>
  </div>
</div>
