/* ------------------ content --------------*/
#pg_content{
  height: 100%;
}

#card_add_content{
  position: relative;
}
/*-------------------- map ------------------*/

#map{
  border: .5px solid rgb(0, 181, 42);
  height: 400px;
}

agm-map{
  height:400px;
}

/* ------------------- add button ------------*/

#landlords_add_btn{

  width: 100%;
  margin-top: 30%;
}

/*--------------- table --------------------*/

#pg_table{
  width: 100%;
  max-height: 300px;
}

#searchInput{
  margin: 10px auto auto auto;
}

#table_scroll{
  width: 100%;
  max-height: 250px;
  overflow: auto;
  display:inline-block;
}

thead{
  font-size: 12px;
}

tbody{
  font-size: 13px;
}

/* ------------- btns table -----------------*/
#view_btn{
  margin: auto 1% auto 1%;
  font-size: 11px;
}

#delete_btn{
  margin: auto 1% auto 1%;
  font-size: 11px;
}

#edit_btn{
  margin: auto 1% auto 1%;
  font-size: 11px;
}

/*-------------- responsive -----------------*/

@media only screen and (max-width: 1500px) {

}

@media only screen and (max-width:650px){
  #card_add_content{
    width: 100%;
  }

  #landlords_add_btn{
    margin-top: 20px;
  }

  #table_scroll{
    width: 100%;
    max-height: 100%;
    overflow: auto;
    display:inline-block;

  }

  #pg_table{
    display: none;
  }

  #pg_table_mobile{
    display:block;
    width: 100%;
  }

  #card_table{
    width: 80vw;
  }

  #card_header{
    font-size: 14px;
    display: flex;
    justify-content: space-between;
  }

  .list_card{
    width: 30px;
    height: 30px;
    border-radius: 20px;
    border: 1px solid rgb(182, 182, 182);
    text-align: center;
    font-weight: bold;
    color: rgb(155, 155, 155);
    cursor: pointer;
  }

  .list_card_option{
    position:absolute;
    width: 100px;
    height: 100px;
    border: 1px solid gray;
    border-radius: 10px;
    left:auto;
    right: 10px;
    top: 40px;
    background-color: white;
    display: none;
    z-index: 90;
  }

  .list_card_option ul{
    list-style: none;
    padding: 0px;
  }

  .list_card_option ul li{
    margin-top: 8px;
    text-align: center;

  }

  .list_card_option ul li:hover{
    background-color: rgb(191, 191, 191);
  }

  /*-----------back page ------*/
.dropback{
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  background-color: transparent;
  z-index: 50;
  display: none;
}
/* ----------- End back page ------*/

}
