/* ----------- back page ------*/
.dropback{
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  background-color: rgba( 0, 0, 0, 0.75);
  z-index: 50;
}
/* ----------- End back page ------*/

/* ---------- container -------*/

.container{
  position: fixed;
  top: 0.9vh;
  left: 30vw;
  width: 40vw;
  height:fit-content;
  padding: 0px;
  border-radius:10px;
  z-index: 100;
  background-color: white;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  font-size: 0.8rem;

}
/*---------- End container -------*/

/*---------- Title ----------*/

.title_pg{
  height: 50px;
  width: 100%;
  background-color: green;
  border-radius: 10px 10px 0px 0px;
  color: white;
  padding: 10px;
  display: flex;
  justify-content:space-between;
}

.title_pg a img{
  cursor: pointer;
}
/* --------- End title ---------*/

/* --------- content -----------*/
.content_view{
  width: 100%;
  padding: 10px;

}

.content_view table,th{
  width: 100%;
  border: solid 1px black;
}

.content_view table td{
  border-right: solid 1px black;
}

.totalTable{
  border-top: solid 1px black ;
}
/* ---------- End content -----------*/


/*  ---------- button ------------*/
.button{
  width: 100%;
  margin: 10px ;
  text-align: center;
}

.button button{
  margin-top: .70rem;
  width: 80%;
}
/*  ---------- End button ------------*/


/* ------------ textarea -------*/
textarea{
  width: 100%;

}
/* ------------ End textarea -------*/

/* ------------ Invoice logo -------*/
.invoice-logo{
  margin: auto;
  height: 4vh;
  display: flex;
  text-align:center;
}
.invoice-logo p{
  margin: 0.1rem auto 0.1rem auto;

}

/* ------------ End invoice logo ---*/

/* ------------ Invoice title ------*/
.invoice-title p{
  text-align: center;
  text-decoration: underline;
  font-weight: bold;
}
/* ------------ End invoice title ----*/

/*------------- Invoice date and No --*/
.invoice-title-info{
  margin:auto .75rem;
  display: flex;
  justify-content:space-between;
}
/*------------- End invoice date and No --*/

/* ----------- Address ----------*/
.invoice-company-address{
  margin:auto .75rem;
}
/* ----------- End address -----*/
