<div class="dropback" (click)="onClose()"></div>
<div class="container">
  <div class="row">
    <div class="col">
      <!-- title of view page-->
      <div class="title_pg">
        <p>View Invoice</p>
        <a (click)="onClose()">
          <img alt="closeIcon" src="assets/images/closeIcon.png" style="width: 25px;"/>
        </a>
      </div>
      <!-- End title page -->

      <div id="InvoicePrint">
          <!-- View page content -->
        <!--invoice title-->
        <div class="invoice-logo">
          <p>Company Name</p>
        </div>
        <div class="invoice-title">
          <p>INVOICE</p>
        </div>
       <!-- End invoice title --->
       <!-- loading -->
       <div *ngIf="date == null || undefined">
        <img alt="spinner loading" src="assets/images/Rolling.gif" style="width: 3vw; text-align: center;">
      </div>
       <!-- End loading -->

        <!-- Invoice date and No --->
        <div class="invoice-title-info">
          <p #date>Date: {{ClientDetails.date | date}}</p>
          <p>Invoice No: {{ClientDetails.invoiceno}}</p>
        </div>
        <!-- End invoice date and No --->

        <!-- Invoice to -->
        <div class="invoice-title-info">
          <p>To : {{ClientDetails.name | upperFirst}}</p>
          <p>{{ClientDetails.position | upperFirst}}</p>

        </div>
        <!-- End invoice to -->

        <!-- Company details -->

        <div class="invoice-company-address">
          <hr>
          <span>From: Company Name</span><br>
          <span>Address: Street Name,</span><br>
          <span>Postcode: B00 0XX</span>
        </div>
        <!-- End company details-->

        <div class="content_view">
          <table>
            <tr>
              <th style="width: 10%;">Item</th>
              <th>Description</th>
              <th style="width: 30%;">£Amount</th>
            </tr>
            <tr *ngFor="let i of ClientDetails.trans, let count=index">
              <td>{{count+1}}</td>
              <td>{{i.description}}</td>
              <td *ngIf="i.typeOfTransaction == 'Pay'">( {{i.amount}} )</td>
              <td *ngIf="i.typeOfTransaction == 'Receive'">{{i.amount}}</td>
            </tr>
            <tr class="totalTable">
              <td></td>
              <td>Total amount</td>
              <td>{{ClientDetails.totalamount | currancy}}</td>
            </tr>
          </table>
        </div>

        <div class="content_view">
          <p>Description: {{ClientDetails.about}}</p>
        </div>
      </div>
      <!-- End view page content -->

      <!-- button -->

      <div class="button">
        <button
            type="button"
            class="btn btn-outline-secondary"
            (click)="onPrint('InvoicePrint')"
        >Print</button>
        <button
            type="button"
            class="btn btn-outline-danger"
            (click)="onClose()">Close</button>
      </div>
      <!-- End button -->

    </div>
  </div>
</div>
