<div class="dropback" (click)="onClose()"></div>
<div class="container">
  <div class="row">
    <div class="col">
      <!-- title of view page-->
      <div class="title_pg">
        <p>View landlord</p>
        <a (click)="onClose()">
          <img alt="closeIcon" src="assets/images/closeIcon.png" style="width: 25px;"/>
        </a>
      </div>
      <!-- End title page -->

      <!-- View page content -->
      <div class="content_view">
        <label class="input-group-text" >First name: {{ClientDetails.firstName}}</label><br>
        <label class="input-group-text" >Last name: {{ClientDetails.lastName}}</label><br>
        <label class="input-group-text" >Email: {{ClientDetails.email}}</label><br>
        <label class="input-group-text" >Postcode: {{ClientDetails.postcode}}</label><br>
        <label class="input-group-text" >Address: {{ClientDetails.address}}</label><br>
        <label class="input-group-text" >Phone: {{ClientDetails.phone}}</label><br>
        <hr>
        <textarea  wrap="hard"
                   readonly>Current Postcode: {{ClientDetails.Details}}</textarea><br>
      </div>
      <!-- End view page content -->

      <!-- button -->
      <div class="button">
        <button
            type="button"
            class="btn btn-outline-danger"
            (click)="onClose()">Close</button>
      </div>
      <!-- End button -->

    </div>
  </div>
</div>
