
<app-newuser
(close)="onReloadPg()"
  *ngIf="authAllowed"
></app-newuser>

<app-update-user
*ngIf="deleteUserAllowed"
[closeForm]="deleteUserAllowed"
[selectedClient]="selectdClient"
[dbName]="dbName"
(close)="onReloadPg()"
[btn]="btnClick"
></app-update-user>

<div class="container">
  <div class="row">
    <div class="col">
      <div>


        <div class="card">
          <div class="card-header">
            <h6 class="card-title">Users</h6>
          </div>
          <div class="card-body">
            <div>
              <button class="btn btn-outline-success"
                      (click)="onAddNewUser()"
                      id="addUser_btn"
              >Add New User</button>
            </div>

            <div class="userlist">

              <table class="table table table-striped" id="pg_table">
                <thead>
                  <th>User name</th>
                  <th>Phone number</th>
                  <th>Email</th>
                  <th>Position</th>
                  <th>Status</th>
                  <th>Authorization</th>
                </thead>
                <tbody>
                  <tr *ngFor="let i of usersArr">
                    <td [ngStyle]="{'color':i['position'] =='Admin'?'red':null}">{{i['username'] | upperFirst}}</td>
                    <td [ngStyle]="{'color':i['position'] =='Admin'?'red':null}">{{i['phonenumber']}}</td>
                    <td [ngStyle]="{'color':i['position'] =='Admin'?'red':null}">{{i['email']}}</td>
                    <td [ngStyle]="{'color':i['position'] =='Admin'?'red':null}">{{i['position']}}</td>

                    <td>
                      <button type="button"
                              class="btn btn-outline-success"
                              id="view_btn"
                              (click)="onUpdateActivation(i)"
                              [ngStyle]="{'backgroundColor':i['status']=='active'?'green':'gray'}"
                              style="color: white;"
                              >{{i['status'] | upperFirst}}</button></td>
                    <td>
                      <button type="button"
                              class="btn btn-outline-success"
                              id="view_btn"
                              (click)="onUpdateAuthorization(i)"
                              [ngStyle]="{'backgroundColor':i['authori']=='yes'?'green':'gray'}"
                              style="color: white;"
                              >{{i['authori'] | upperFirst}}</button></td>

                  </tr>
                </tbody>
              </table>

              <!--mobile table-->

          <table class="table table-white" id="pg_table_mobile">
            <tbody id="tbody">
              <tr *ngFor="let i of usersArr">
                <td id="td_table">
                  <div class="card" id="card_table">
                    <div class="card-header" id="card_header">
                      <p>{{i.username | upperFirst}}</p>
                      <div class="btns_active">
                        <div>
                          <span >Status:  </span>
                        <button type="button"
                              class="btn btn-outline-success"
                              id="view_btn"
                              (click)="onUpdateActivation(i)"
                              [ngStyle]="{'backgroundColor':i['status']=='active'?'green':'gray'}"
                              style="color: white;"
                              >{{i['status'] | upperFirst}}</button>
                        </div>
                        <div>
                          <span >Authorization:  </span>
                          <button type="button"
                                class="btn btn-outline-success"
                                id="view_btn"
                                (click)="onUpdateAuthorization(i)"
                                [ngStyle]="{'backgroundColor':i['authori']=='yes'?'green':'gray'}"
                                style="color: white;"
                                >{{i['authori'] | upperFirst}}</button>
                        </div>




                      </div>

                    </div>

                    <div class="card-body">
                      <p>Phone Number: {{i.phonenumber}}</p>
                      <p>Email: {{i.email}}</p>
                      <p [ngStyle]="{'color':i['position'] =='Admin'?'red':null}">Position: {{i.position}}</p>
                    </div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>








