<div>
  <!-- Add page-->
  <app-add-property
    *ngIf="addingPropertyAllowed"
    [closeForm]="addingPropertyAllowed"
    (close)="onReloadPg()"
    ></app-add-property>
    <!--End add page -->

    <!-- View page -->
  <app-view-property
     *ngIf="viewPropertyAllowed"
     [closeForm]="viewPropertyAllowed"
     [selectedClient]="selectdClient"
     (close)="onReloadPg()"
  ></app-view-property>
  <!-- End view page-->

  <!-- Delete page -->
  <app-warning-msg
      *ngIf="deletePropertyAllowed"
      [closeForm]="deletePropertyAllowed"
      [selectedClient]="selectdClient"
      (close)="onReloadPg()"
  ></app-warning-msg>

  <!-- End delete page -->

  <!-- Edit page -->
  <app-edit-porperty
       *ngIf="editPropertyAllowed"
       [closeForm]="editPropertyAllowed"
      [selectedClient]="selectdClient"
      (close)="onReloadPg()"
  ></app-edit-porperty>
  <!-- End edit page -->

  <div class="container-sm">
    <div class="row">
      <!--content and add button-->
      <div class="col-6" id="card_add_content">
        <div id="pg_content">

            <div id="card">
              <div class="card">
                <div class="card-header">
                  Tenants
                </div>
                <div class="card-body">
                  <h5 class="card-title">Properties Details</h5>
                  <p class="card-text">This page has data, operations and views about properties.</p>
                </div>
              </div>
            </div>
            <button type="button"
                    class="btn btn-primary"
                    id="properties_add_btn"
                    (click)="add_property()">Add New Property</button>

        </div>
      </div>
       <!--end content and add button-->

       <!--map-->
      <div class="col-6 col-sm-6" id="map" markers="markers" center="osloCenter">
      </div>


      <!--end map-->

      <div class="col-12" id="c3">
        <!--search input-->
        <div class="input-group mb-3" id="searchInput">
          <button class="btn btn-outline-secondary"
                  type="button"
                  id="button-addon1">Search</button>
          <input type="text"
                 class="form-control"
                 placeholder="search ..."
                 aria-label="Example text with button addon"
                 aria-describedby="button-addon1"
                 [(ngModel)]="filterString">
        </div>
        <img src="assets/images/locationIcon.gif">
        <!--end search input-->

        <!--table-->
        <div id="table_scroll">
          <table class="table table-success table-striped" id="pg_table">
            <thead>
              <tr>
                <th scope="col">ID</th>
                <th scope="col">Owner</th>
                <th scope="col">Address</th>
                <th scope="col">Postcode</th>
                <th scope="col">Phone</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let i of PropertyTableList | filter: filterString:'firstName':'lastName':'Postcode':'Phone':'Owner':'Address'">
                <td scope="row">{{i.Id}}</td>
                <td>{{i.Owner |uppercase}}</td>
                <td>{{i.Address |uppercase}}</td>
                <td>{{i.Postcode |uppercase}}</td>
                <td>{{i.Phone}}</td>
                <td>
                  <button type="button"
                          class="btn btn-success"
                          id="view_btn"
                          (click)="on_view(i)"

                          >View</button>
                  <button type="button"
                          class="btn btn-danger"
                          id="delete_btn"
                          (click)="on_delete(i)"
                          >Delete</button>
                  <button type="button"
                          class="btn btn-warning"
                          id="edit_btn"
                          (click)="on_edit(i)"
                          >Edit</button>
                </td>
              </tr>

            </tbody>
          </table>
        </div>


        <!--end table-->
      </div>

    </div>
  </div>
</div>
