
<div class="container">
  <div class="row">
    <div class="col">
      <div id="container_1">
        <div class="card" style="width: 18rem;">
          <img src="assets/images/home_company_card.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Company Details</h5>
            <p class="card-text">An estate agent company is a professional organization that specializes in facilitating property transactions.</p>
            <a href="#" class="btn btn-primary">More info</a>
          </div>
        </div>
        <div id="calender">
          <app-calendar></app-calendar>
        </div>
      </div>
      <hr>
      <div id="container_2">
        <div id="chart"><app-chart-ltop></app-chart-ltop></div>
        <div id="notification"><p>notification</p></div>
      </div>
    </div>
  </div>
</div>

