
<div class="container">
  <div class="row">
    <div class="col">

      <div id="container_1">
        <div class="card" style="width: 18rem;">
          <img src="assets/images/home_company_card.png" class="card-img-top" alt="companyImage" id="companyImage">
          <div class="card-body">
            <h5 class="card-title">Company Details</h5>
            <p class="card-text">An estate agent company is a professional organization that specializes in facilitating property transactions.</p>
            <a href="#" class="btn btn-primary">More info</a>
          </div>
        </div>

        <div id="calender">
          <app-calendar></app-calendar>
        </div>
      </div>
      <hr>
      <div id="container_2">
        <div id="chart"><app-chart-ltop></app-chart-ltop></div>
        <div id="notification" >
          <ul>
            <li *ngFor="let i of arrs[0]">
              <div class="card" id="notificationCard">
                <div class="card-header">
                  <p>{{i | checkNoteDatePipe}}</p>
                  <p>Rent Notification</p>
                </div>
                <p style="font-size: 14px;">Today is the due date for your rent payment for the property located at <a routerLink="/properties">{{i['postcode']}}</a>. The rent is collected form <a routerLink="/tenants">{{i['tfn'] | upperFirst}} {{i['tln'] | upperFirst}}</a> , with amount {{i['rent']}}</p>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

