<div>
  <!-- Add page-->
  <app-add-voucher
    *ngIf="addingVoucherAllowed"
    [closeForm]="addingVoucherAllowed"
    (close)="onReloadPg()"
    ></app-add-voucher>
    <!--End add page -->

    <!-- View page -->
  <app-view-money
     *ngIf="viewVoucherAllowed"
     [closeForm]="viewVoucherAllowed"
     [selectedClient]="selectdClient"
     (close)="onReloadPg()"
  ></app-view-money>
  <!-- End view page-->

  <!-- Delete page -->
  <app-warning-msg
      *ngIf="deleteVoucherAllowed"
      [closeForm]="deleteVoucherAllowed"
      [selectedClient]="selectdClient"
      [dbName]="dbName"
      (close)="onReloadPg()"
  ></app-warning-msg>
  <!-- End delete page -->

  <!-- Edit page -->
  <app-edit-voucher
       *ngIf="editVoucherAllowed"
       [closeForm]="editVoucherAllowed"
       [selectedClient]="selectdClient"
      (close)="onReloadPg()"
  ></app-edit-voucher>
  <!-- End edit page -->

  <!-- dropback for sub list -->
  <div class="dropback" id="dropback" (click)="onClose()"></div>

  <div class="container-sm">
    <div class="row">
      <!--content and add button-->
      <div class="col-6" id="card_add_content">
        <div id="pg_content">

            <div id="card">
              <div class="card">
                <div class="card-header">
                  Money
                </div>
                <div class="card-body">
                  <h5 class="card-title">Money Details</h5>
                  <p class="card-text">This page has data, operations and views about money.</p>
                </div>
              </div>
            </div>
            <button type="button"
                    class="btn btn-primary"
                    id="landlords_add_btn"
                    (click)="add_landlord()">Add New Voucher</button>

        </div>
        <div id="chart">
          <app-chart-money></app-chart-money>
        </div>
      </div>
       <!--end content and add button-->




      <div class="col-12" id="c3">
        <!--search input-->
        <div class="input-group mb-3" id="searchInput">
          <button class="btn btn-outline-secondary"
                  type="button"
                  id="button-addon1">Search</button>
          <input type="text"
                 class="form-control"
                 placeholder="search ..."
                 aria-label="Example text with button addon"
                 aria-describedby="button-addon1"
                 [(ngModel)]="filterString"
                 >
        </div>
        <!--end search input-->

        <div *ngIf="loading">
          <img alt="spinner loading" src="assets/images/Rolling.gif" style="width: 4vw; text-align: center;">
        </div>

        <!--table-->
        <div id="table_scroll">
          <table class="table table-success table-striped" id="pg_table">
            <thead>
              <tr>
                <th scope="col">ID</th>
                <th scope="col">Name</th>
                <th scope="col">Position</th>
                <th scope="col">Date</th>
                <th scope="col">About</th>
                <th scope="col">Payment Type</th>
                <th scope="col">Total Amount</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let i of moneyTableList | filter: filterString:'name':'position':'date':'about':'typeofpayment'">
                <td scope="row">{{i.id}}</td>
                <td>{{i.name |upperFirst}}</td>
                <td>{{i.position |upperFirst}}</td>
                <td>{{i.date}}</td>
                <td>{{i.about | upperFirst}}</td>
                <td>{{i.typeofpayment | upperFirst}}</td>
                <td>{{i.totalamount | currancy}}</td>
                <td>
                  <button type="button"
                          class="btn btn-success"
                          id="view_btn"
                          (click)="on_view(i)"

                          >View</button>
                  <button type="button"
                          class="btn btn-danger"
                          id="delete_btn"
                          (click)="on_delete(i)"
                          *ngIf="_authri == 'yes'"
                          >Delete</button>
                  <!--<button type="button"
                          class="btn btn-warning"
                          id="edit_btn"
                          (click)="on_edit(i)"
                          >Edit</button>-->
                </td>
              </tr>

            </tbody>
          </table>


          <!--mobile table-->

          <table class="table table-white" id="pg_table_mobile">
            <tbody id="tbody">
              <tr *ngFor="let i of moneyTableList | filter: filterString:'firstname':'lastname':'postcode':'phone'">
                <td id="td_table">
                  <div class="card" id="card_table">
                    <div class="card-header" id="card_header">
                      <p>Voucher for {{i.name | upperFirst}}</p>
                      <div class="list_card" (click)="onCard_option(i)">
                        <p>. . .</p>
                      </div>
                      <div class="list_card_option"
                           #lco
                           id={{i.landlordId}}
                           >
                        <ul>
                          <li (click)="on_view(i)"><a>View</a></li>
                          <li (click)="on_delete(i)" *ngIf="_authri == 'yes'"><a>Delete</a></li>
                          <li (click)="on_edit(i)"><a>Edit</a></li>
                        </ul>
                      </div>
                    </div>

                    <div class="card-body">
                      <p>Position: {{i.position | uppercase}}</p>
                      <p>Date: {{i.date}}</p>
                      <p>About: {{i.about | upperFirst}}</p>
                      <p>Type of payment: {{i.typeofpayment | upperFirst}}</p>
                      <p>Total amount: {{i.totalamount | currancy}}</p>
                    </div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>


        </div>


        <!--end table-->
      </div>

    </div>
  </div>
</div>
