<div class="dropback" (click)="onClose()"></div>
<div class="container">
  <div class="row">
    <div class="col">
      <!-- Title of add page -->
      <div class="title_pg">
        <p>Add voucher</p>
        <a (click)="onClose()">
          <img alt="closeIcon" src="assets/images/closeIcon.png" style="width: 25px;"/>
        </a>
      </div>
      <!-- End title add page -->

      <!-- Form add page -->
      <form
            (ngSubmit)="onSubmit(f)"
            #f = "ngForm">

        <div class="input_block">
          <div class="ContentDetails">
            <p >Voucher details</p>
          </div>

          <!-- Voucher detail -->

          <div class="v-line-1">
            <div class="input-group">
              <span class="input-group-text">To</span>
              <select class="form-select" aria-label="Default select example"
                      name="position"
                      id="position"
                      ngModel
                      required
                      #position
              >
                <option default></option>
                <option>Landlord</option>
                <option>Other</option>
                <option>Tenant</option>
              </select>
              <div *ngIf="!position.value" class="required-warning"><p>*Required</p></div>
            </div>

            <div class="input-group">
              <span class="input-group-text" >Date</span>
              <input type="date"
                     class="form-control"
                     placeholder="Date"
                     name="date"
                     ngModel
                     id="date"
                     required
                     #date
                     >
                <div *ngIf="!date.value" class="required-warning"><p>*Required</p></div>
            </div>
          </div>

          <div class="v-line-1">
            <div class="input-group" *ngIf="position.value != ''">
              <span class="input-group-text">Name</span>
              <!-- Landlord name -->
              <select class="form-select" aria-label="Default select example"
                      name="name"
                      id="name"
                      ngModel
                      required
                      *ngIf="position.value === 'Landlord'"
                      #nameLandlord
              >
                <option
                        *ngFor="let iLandlord of landlordList"
                        >{{iLandlord.firstname | upperFirst}} {{iLandlord.lastname | upperFirst}}</option>
              </select>
              <!-- End landlord name -->

              <!-- Tenant name -->
              <select class="form-select" aria-label="Default select example"
                      name="name"
                      id="name"
                      ngModel
                      required
                      *ngIf="position.value === 'Tenant'"
                      #nameTenant
              >

                <option
                        *ngFor="let iTenant of tenantList"
                        >{{iTenant.firstname | upperFirst}} {{iTenant.lastname | upperFirst}}</option>
              </select>

              <!-- End tenant name-->

              <!-- Other name -->
              <select class="form-select" aria-label="Default select example"
                      name="name"
                      id="name"
                      ngModel
                      required
                      *ngIf="position.value === 'Other'"
                      #nameOther
              >
                <option
                        *ngFor="let iOther of otherList"
                        >{{iOther.name | upperFirst}}</option>
              </select>

              <!-- End other name-->
            </div>
            <div *ngIf="loading">
              <img alt="spinner loading" src="assets/images/Rolling.gif" style="width: 3vw; text-align: center;">
            </div>


            <!-- Any name-->
            <div class="input-group" *ngIf="position.value == ''">
              <span class="input-group-text" >Name</span>
              <input type="text"
                     class="form-control"
                     placeholder="Name"
                     name="name"
                     ngModel
                     id="name"
                     required
                     #name
                     >
                <div *ngIf="!name.value" class="required-warning"><p>*Required</p></div>
            </div>

            <!-- End any name-->

            <!-- About input -->
            <div class="input-group">
              <span class="input-group-text">About</span>
               <select class="form-select" aria-label="Default select example"
                        name="about"
                        id="about"
                        ngModel
                        required
                        #about
                >

                  <option>Adjustment</option>
                  <option>Receive Rent</option>
                  <option>Pay Rent</option>
                  <option>Services</option>
                  <option >Other</option>
                </select>
              <div *ngIf="!about.value" class="required-warning"><p>*Required</p></div>
            </div>
            <!-- End about input -->
          </div>

          <div class="v-line-1">

            <!-- Total input-->
            <div class="input-group">
              <span class="input-group-text" >Total amount £</span>
              <span class="input-group-text" >0.00</span>
              <input type="number"
                     class="form-control"
                     aria-label="Default select example"
                     name="totalAmount"
                     id="totalAmount"
                     ngModel
                     #totalAmount
                     readonly
                     value={{totalAmountValue}}
                     >
            </div>


            <!-- End total input-->


            <!-- Type of payment input -->
            <div class="input-group">
              <span class="input-group-text" >Type of payment</span>
               <select class="form-select"
                        aria-label="Default select example"
                        type="text"
                        name="typeOfPayment"
                        id="typeOfPayment"
                        ngModel
                        required
                        #typeOfPayment
                >
                  <option>Cash</option>
                  <option>Bank</option>
                </select>
              <div *ngIf="!typeOfPayment.value" class="required-warning"><p>*Required</p></div>
            </div>
            <!-- End type of payment input -->
          </div>



          <!-- Transaction details -->
          <div>
            <hr>
            <div class="ContentDetails">
              <p >Transactions</p>
            </div>
            <form (ngSubmit)="onSubmitTransaction(t)"
                  #t = "ngForm">
                  <div class="btns">
                    <!-- Add transaction -->
                    <button class="btn btn-outline-primary"
                    id="addTransactionbtn"
                    (click)="onAddTransaction()"
                    [disabled]="!t.valid"
                    >Add transaction</button>
                    <!-- End add transaction -->
                </div>

              <div class="v-line-1">
              <div class="input-group">
               <span class="input-group-text">Type</span>
               <select class="form-select" aria-label="Default select example"
                        name="typeOfTransaction"
                        id="typeOfTransaction"
                        ngModel
                        required
                        #typeOfTransaction
                      >
                  <option>Pay</option>
                  <option>Receive</option>
                </select>
                <div *ngIf="!typeOfTransaction.value" class="required-warning"><p>*Required</p></div>
              </div>

              <div class="input-group">
                <span class="input-group-text">Description</span>
                <input type="text"
                class="form-control"
                placeholder="Description"
                name="description"
                ngModel
                id="description"
                required
                #description
                >
                <div *ngIf="!description.value" class="required-warning"><p>*Required</p></div>
              </div>

              <div class="input-group">
                <span class="input-group-text">Amount</span>
                <input type="number"
                class="form-control"
                placeholder="Amount"
                name="amount"
                ngModel
                id="amount"
                required
                #amount
                >
                <div *ngIf="!amount.value" class="required-warning"><p>*Required</p></div>
              </div>
            </div>
            </form>

          </div>
          <!-- End transaction details -->


        <!-- End voucher detail -->

          <!-- Transaction table -->
          <hr>
          <div id="table_scroll" >
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">Type of transaction</th>
                  <th scope="col">Description</th>
                  <th scope="col">Amount £</th>
                </tr>
              </thead>
              <tbody class="table-group-divider">
                <tr *ngFor="let i of transactionList">
                  <td>{{i.typeOfTransaction}}</td>
                  <td>{{i.description}}</td>
                  <td>{{i.amount | currancy}}</td>
                </tr>
              </tbody>
            </table>
          </div>
          <!-- End transection table -->


          <!--  ------------------------End details --------------->
          <hr>
          <div class="btns">
            <button
            type="submit"
            class="btn btn-outline-success"
            [disabled]="!f.valid"
            [ngStyle]="{'color':f.valid?'':'gray'}"
            (click)="onSubmit(f)"
            >Submit</button>
          <button
            type="button"
            class="btn btn-outline-danger"
            (click)="onClose()">Cancel</button>
          </div>

        </div>
      </form>
      <!-- End form add page -->
    </div>
  </div>
</div>
